version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: subtracker_mongo
    restart: always
    environment:
      MONGO_INITDB_DATABASE: subtracker
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  mongo-express:
    image: mongo-express
    restart: always
    depends_on:
      - mongo
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo

  nextjs:
    container_name: subtracker_app
    restart: always
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      MONGODB_URI: mongodb://mongo:27017/subtracker

volumes:
  mongo_data:
